<h2>NEW TASK</h2>
<%= form_with(model: @task, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details %>
  </div>
  <div class="actions">
    <%= form.submit "Create Task" %>
  </div>
<% end %>
<%= link_to "Back to Tasks", tasks_path %>
